target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
codigo/.idea/modules.xml
codigo/.idea/jarRepositories.xml
codigo/.idea/compiler.xml
codigo/.idea/libraries/
codigo/*.iws
codigo/*.iml
codigo/*.ipr

### Eclipse ###
codigo/.apt_generated
codigo/.classpath
codigo/.factorypath
codigo/.project
codigo/.settings
codigo/.springBeans
codigo/.sts4-cache

### NetBeans ###
codigo/nbproject/private/
codigo/nbbuild/
codigo/dist/
codigo/nbdist/
codigo/.nb-gradle/
codigo/build/
codigo/!**/src/main/**/build/
codigo/!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store